{% extends 'base.html' %}
{% block title %}holaaa{% endblock %}


{% block content %}<h1 style="cursor: alias;" onclick='window.location.href="/login"'>Holaaaaa</h1>

	<br>
	{% for i in content %}
	<span>{{i}} </span>
	{% endfor %}
	<br>
	{% for i in content %}
	<span>{{i}} </span>
	{% endfor %}
	<br>
	{% for i in se %}
	<span>{{i}} </span>
	{% endfor %}
	<br>
	{% for i in gracia %}
	<span>{{i}} </span>
	{% endfor %}
	<br>
	{% for i in gracia %}
	<span>{{i}} </span>
	{% endfor %}
	<br>
	{% for i in patipami %}
	<span>{{i}} </span>
	{% endfor %}
	<br>
	{% for i in bailalabamba %}
	<span>{{i}} </span>
	{% endfor %}
	<br>
	{% for i in bailalabamba %}
	<span>{{i}} </span>
	{% endfor %}{% endblock %}